* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
}

#menu {
    display: none;
}


.heading {
    padding: 5px;
    background-color: #1D232C;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    color: #1D232C;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 3;
}

.navbar_2 {
    display: flex;
    gap: 20px;
    color: black;
    list-style-type: none;

}

.navbar_2 li a {
    text-decoration: none;
    color: #1D232C;

}

.navbar_2 li a:hover {
    text-decoration: underline;
}

/* sidenav */

.sidenav {
    display: flex;
    flex-direction: column;
    background-color: #1D232C;
    transition: all 0.5s ease-in-out;
    width: 50%;
    height: 100vh;
    left: -50%;
    position: fixed;
    z-index: 20;
    color: white;
    top: 0;
}

.sidenav_2 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    gap: 20px;
    text-align: left;

}

.sidenav_2 li {
    list-style-type: none;


}


.sidenav_2 li a {
    text-decoration: none;
    color: white;


}

.sidenav_1 {
    display: inline;
    cursor: pointer;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

/* Slide */

.slider {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

}

.slider-container {
    padding-left: 20px;
    padding-right: 20px;
}

.slide-text {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 20%;
    z-index: 10;
}

#arrow-left,
#arrow-right {
    font-size: 10vw;
}

.slider button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: rgb(29, 35, 44);

}

.slide-image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
   transition: 2s;
   
}

.slide-image-container img {
    height: auto;
    width: 100vw;
    flex-shrink: 0;
}




.slide-left-button {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
    color: white;
}

.slide-right-button {
    position: absolute;
    top: 35%;
    right: 5%;
    color: white;
}

/* Brand */
.brand_item img {
    width: 4vw;
    align-items: center;

}

.brands {
    padding: 2rem;
}

.brand_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Service */
.Services {
    padding: 20px;
}

.Service_container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Service_container_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.Service_container_2 div {
    background-color: #F2F4F7;
    padding: 20px;
}

.Service_container h4 {
    font-size: 10px;
}

.Service_container p {
    font-size: 10px;
}

.Service_container i {
    font-size: 3vw;
    margin-bottom: 10px;
}

/* New Arrival */
.newarrival-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

}

.new-arrival {
    padding: 20px;
}

.newarrival-2 img {
    width: 20vw;
    opacity: 0.;
}

.newarrival-container {
    position: relative;
    width: 20vw;
    border-radius: 2px;
    overflow: hidden;
}

.newarrival-container img {
    width: 100%;
    display: block;
    transition: 0.3s ease;
}

/* Overlay div */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: 0.3s ease;
}


/* Button style */
.newarrival-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    z-index: 2;
    cursor: pointer;
}

/* Most Wanted */
.MostWanted-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;



}

.MostWanted-2::-webkit-scrollbar {
    width: 0;

}

.MostWanted {
    padding: 20px;
}

.MostWanted-container {
    position: relative;
}

.MostWanted-container .sale {
    font-size: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-bottom-right-radius: 8px;
    z-index: 11;
}

.MostWanted-container img {
    width: 20vw;

}

.MostWanted-container i {
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    right: 5px;

}



.heart-active {
    color: red;
}

/* News */

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 2vw;
    margin-top: 5vw;
}

.news input {
    width: 80%;
    border: solid black 2px;
    padding: 5px;
}

.Subscribe {
    background-color: #1D232C;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
    margin-top: 10px;
}

/* limited offer */
.limited-offers {
    background-color: #1D232C;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 2vw;
}

.limited-offers-2 button {
    background-color: white;
    color: black;
    padding: 3px;
}









/* footer */
.footer {
    background-color: #1D232C;
    color: white;
    padding: 3rem;
    gap: 10px;
    margin-top: 2rem;

}

.footer-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-2 {
    display: flex;
    gap: 20px;

}

/* Contact Form */

.Contactform {
    background-color: #1D232C;
    /* dark background */
    color: white;
    padding: 20px;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 10px;


}

.Container {
    padding-left: 15px;
    padding-right: 15px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding-right: 10vw;
    margin-top: 10px;
    width: 100%;
}

#submit {
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0056b3;
    width: 10%;


}

#name,
#email,
#message {
    width: 90%;
    padding: 2vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
}

#message {
    resize: vertical;
    height: 10vh;
}

/* Collections */
.collection-container {
    display: flex;
    gap: 20px;
    margin: 10px;
    padding: 20px
}

.container-1 {
    padding: 20px;
    gap: 10px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.vertical {
    border-left: 5px solid black;
    height: 60rem;
}

.search {
    border: solid #1D232C 1px;
    border-radius: 10px;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    width: 90%;
}


#Search {
    border: none;
    padding: 10px;
    width: 95%;
}

#Search:focus {
    outline: none;
}

.image-container {
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1vw;
}

.image-container img {
    width: 20vw;
}

/* Media Query */
@media screen and (max-width: 800px) {
    body {
        font-size: 10px;
    }

    #Navbar {
        display: none;
    }

    #menu {
        display: block;
    }

  
    .image-container img {
        display: grid;
        grid-template-columns: 2;
    }

    .limited-offers {
        flex-direction: row;
        /* இங்கேயும் row */
        flex-wrap: wrap;
        /* தேவையானால் wrap செய்யலாம் */
    }

    .limited-offers-1 img {
        width: 100%;
        max-width: 300px;
        /* Control size */
    }

    .limited-offers-2 {
        max-width: 100%;
        text-align: center;
        /* Center text (optional) */
    }

    .brand_items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }



}

html,
body {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;

}

body::-webkit-scrollbar {
    display: none;
}